{{!< default}}

<main class="gh-main">
    <section class="gh-archive gh-outer">
        <div class="gh-inner">
            <header class="gh-archive-header">
                <h1 class="gh-archive-title">Our events →</h1>
                <p><a href="https://cassa.au/tag/red-room/">Redroom (CTF's) </a> <a href="https://cassa.au/tag/linux/">, Learn2linux </a> <a href="https://cassa.au/tag/industry/">, Industry Connect</a> and <a href="https://cassa.au/tag/social/">Socials</a>.</p>
            </header>
        </div>
    </section>
    {{> "components/list" layout="simple" count="all" showExcerpt=true showPublishedAt=true}}
</main>
